.cu-author-quote {
    position: relative;
    border: 1px solid #e9ebf0;
    border-radius: 9px;
    -webkit-margin-before: 46px;
    margin-block-start: 46px;
    -webkit-margin-after: 46px;
    margin-block-end: 46px;
    -webkit-padding-before: 44px;
    padding-block-start: 44px;
    -webkit-padding-after: 36px;
    padding-block-end: 36px;
    -webkit-padding-start: 53px;
    padding-inline-start: 53px;
    -webkit-padding-end: 42px;
    padding-inline-end: 42px
}

.cu-author-quote:before,
.cu-author-quote:after {
    content: "";
    display: block;
    position: absolute;
    width: calc(40px + 15px);
    height: 32px;
    z-index: 1;
    pointer-events: none;
    background: url("data:image/svg+xml,%3Csvg fill='none' height='32' viewBox='0 0 40 32' width='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m40 0v5.46862c-2.1848.56965-3.8459 1.36716-4.9832 2.39253-1.1672 1.02536-2.095 2.32135-2.7834 3.88785-.6883 1.595-1.0325 3.5318-1.0325 5.8104 2.8432 0 4.9383.769 6.2851 2.3071 1.3468 1.538 2.0202 3.1758 2.0202 4.9132 0 2.0223-.7482 3.7312-2.2447 5.1268-1.4964 1.3957-3.2473 2.0935-5.2525 2.0935-2.5739 0-4.7886-1.0681-6.6442-3.2043-1.8856-2.1077-2.8283-4.9986-2.8283-8.6729 0-3.247.7332-6.2946 2.1998-9.1428 1.4665-2.81979 3.4717-5.24079 6.0157-7.26304 2.514-1.99377 5.5967-3.232759 9.248-3.71696zm-22.4916 0v5.46862c-2.1848.56965-3.8608 1.36716-5.028 2.39253-1.1673 1.02536-2.0951 2.32135-2.78343 3.88785-.68837 1.595-1.03255 3.5318-1.03255 5.8104 2.84328 0 4.95328.769 6.32998 2.3071 1.3468 1.538 2.0202 3.1758 2.0202 4.9132 0 2.0223-.7482 3.7312-2.2447 5.1268-1.4964 1.3957-3.2323 2.0935-5.20761 2.0935-2.63375 0-4.87841-1.0681-6.73401-3.2043-1.885521-2.1077-2.82828381-4.9986-2.82828381-8.6729 0-3.247.74822481-6.2946 2.24467381-9.1428 1.46651-2.81979 3.47175-5.24079 6.01571-7.26304 2.51402-1.99377 5.59672-3.232759 9.24802-3.71696z' fill='var(--quote-color, %237b68ee)'/%3E%3C/svg%3E%0A") center center no-repeat;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center
}

.cu-author-quote:before {
    top: 0;
    left: 42px;
    -webkit-transform: translateY(-13px);
    -ms-transform: translateY(-13px);
    transform: translateY(-13px)
}

.cu-author-quote:after {
    bottom: 0;
    right: 42px;
    -webkit-transform: scale(-1, -1) translateY(-16px);
    -ms-transform: scale(-1, -1) translateY(-16px);
    transform: scale(-1, -1) translateY(-16px)
}

.cu-author-quote .cu-author-quote__quote {
    border: none;
    padding: 0
}

.cu-author-quote .cu-author-quote__quote p {
    font: 19px/35px "Charter", sans-serif;
    font-style: italic;
    color: #292d34
}

.cu-author-quote__author-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    -webkit-margin-before: 27px;
    margin-block-start: 27px
}

.cu-author-quote__image {
    width: 50px;
    height: auto;
    -webkit-margin-end: 18.5px;
    margin-inline-end: 18.5px;
    border-radius: 50%
}

.cu-author-quote__author-info {
    margin: 0
}

.cu-author-quote__author-name,
.cu-author-quote__author-position {
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    font: 18px/35px "Charter", sans-serif;
    font-style: normal;
    color: #292d34;
    line-height: 1.5
}

.cu-author-quote__author-name {
    font-weight: 700
}

.cu-author-quote[data-quote-color=pink]:before,
.cu-author-quote[data-quote-color=pink]:after {
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='32' viewBox='0 0 40 32' width='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m40 0v5.46862c-2.1848.56965-3.8459 1.36716-4.9832 2.39253-1.1672 1.02536-2.095 2.32135-2.7834 3.88785-.6883 1.595-1.0325 3.5318-1.0325 5.8104 2.8432 0 4.9383.769 6.2851 2.3071 1.3468 1.538 2.0202 3.1758 2.0202 4.9132 0 2.0223-.7482 3.7312-2.2447 5.1268-1.4964 1.3957-3.2473 2.0935-5.2525 2.0935-2.5739 0-4.7886-1.0681-6.6442-3.2043-1.8856-2.1077-2.8283-4.9986-2.8283-8.6729 0-3.247.7332-6.2946 2.1998-9.1428 1.4665-2.81979 3.4717-5.24079 6.0157-7.26304 2.514-1.99377 5.5967-3.232759 9.248-3.71696zm-22.4916 0v5.46862c-2.1848.56965-3.8608 1.36716-5.028 2.39253-1.1673 1.02536-2.0951 2.32135-2.78343 3.88785-.68837 1.595-1.03255 3.5318-1.03255 5.8104 2.84328 0 4.95328.769 6.32998 2.3071 1.3468 1.538 2.0202 3.1758 2.0202 4.9132 0 2.0223-.7482 3.7312-2.2447 5.1268-1.4964 1.3957-3.2323 2.0935-5.20761 2.0935-2.63375 0-4.87841-1.0681-6.73401-3.2043-1.885521-2.1077-2.82828381-4.9986-2.82828381-8.6729 0-3.247.74822481-6.2946 2.24467381-9.1428 1.46651-2.81979 3.47175-5.24079 6.01571-7.26304 2.51402-1.99377 5.59672-3.232759 9.24802-3.71696z' fill='%23FD71AF'/%3E%3C/svg%3E%0A")
}

.cu-author-quote[data-quote-color=cyan]:before,
.cu-author-quote[data-quote-color=cyan]:after {
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='32' viewBox='0 0 40 32' width='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m40 0v5.46862c-2.1848.56965-3.8459 1.36716-4.9832 2.39253-1.1672 1.02536-2.095 2.32135-2.7834 3.88785-.6883 1.595-1.0325 3.5318-1.0325 5.8104 2.8432 0 4.9383.769 6.2851 2.3071 1.3468 1.538 2.0202 3.1758 2.0202 4.9132 0 2.0223-.7482 3.7312-2.2447 5.1268-1.4964 1.3957-3.2473 2.0935-5.2525 2.0935-2.5739 0-4.7886-1.0681-6.6442-3.2043-1.8856-2.1077-2.8283-4.9986-2.8283-8.6729 0-3.247.7332-6.2946 2.1998-9.1428 1.4665-2.81979 3.4717-5.24079 6.0157-7.26304 2.514-1.99377 5.5967-3.232759 9.248-3.71696zm-22.4916 0v5.46862c-2.1848.56965-3.8608 1.36716-5.028 2.39253-1.1673 1.02536-2.0951 2.32135-2.78343 3.88785-.68837 1.595-1.03255 3.5318-1.03255 5.8104 2.84328 0 4.95328.769 6.32998 2.3071 1.3468 1.538 2.0202 3.1758 2.0202 4.9132 0 2.0223-.7482 3.7312-2.2447 5.1268-1.4964 1.3957-3.2323 2.0935-5.20761 2.0935-2.63375 0-4.87841-1.0681-6.73401-3.2043-1.885521-2.1077-2.82828381-4.9986-2.82828381-8.6729 0-3.247.74822481-6.2946 2.24467381-9.1428 1.46651-2.81979 3.47175-5.24079 6.01571-7.26304 2.51402-1.99377 5.59672-3.232759 9.24802-3.71696z' fill='%2349CCF9'/%3E%3C/svg%3E%0A")
}

.cu-author-quote[data-quote-color=yellow]:before,
.cu-author-quote[data-quote-color=yellow]:after {
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='32' viewBox='0 0 40 32' width='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m40 0v5.46862c-2.1848.56965-3.8459 1.36716-4.9832 2.39253-1.1672 1.02536-2.095 2.32135-2.7834 3.88785-.6883 1.595-1.0325 3.5318-1.0325 5.8104 2.8432 0 4.9383.769 6.2851 2.3071 1.3468 1.538 2.0202 3.1758 2.0202 4.9132 0 2.0223-.7482 3.7312-2.2447 5.1268-1.4964 1.3957-3.2473 2.0935-5.2525 2.0935-2.5739 0-4.7886-1.0681-6.6442-3.2043-1.8856-2.1077-2.8283-4.9986-2.8283-8.6729 0-3.247.7332-6.2946 2.1998-9.1428 1.4665-2.81979 3.4717-5.24079 6.0157-7.26304 2.514-1.99377 5.5967-3.232759 9.248-3.71696zm-22.4916 0v5.46862c-2.1848.56965-3.8608 1.36716-5.028 2.39253-1.1673 1.02536-2.0951 2.32135-2.78343 3.88785-.68837 1.595-1.03255 3.5318-1.03255 5.8104 2.84328 0 4.95328.769 6.32998 2.3071 1.3468 1.538 2.0202 3.1758 2.0202 4.9132 0 2.0223-.7482 3.7312-2.2447 5.1268-1.4964 1.3957-3.2323 2.0935-5.20761 2.0935-2.63375 0-4.87841-1.0681-6.73401-3.2043-1.885521-2.1077-2.82828381-4.9986-2.82828381-8.6729 0-3.247.74822481-6.2946 2.24467381-9.1428 1.46651-2.81979 3.47175-5.24079 6.01571-7.26304 2.51402-1.99377 5.59672-3.232759 9.24802-3.71696z' fill='%23FFC800'/%3E%3C/svg%3E%0A")
}

.cu-author-quote[data-quote-color=green]:before,
.cu-author-quote[data-quote-color=green]:after {
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='32' viewBox='0 0 40 32' width='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m40 0v5.46862c-2.1848.56965-3.8459 1.36716-4.9832 2.39253-1.1672 1.02536-2.095 2.32135-2.7834 3.88785-.6883 1.595-1.0325 3.5318-1.0325 5.8104 2.8432 0 4.9383.769 6.2851 2.3071 1.3468 1.538 2.0202 3.1758 2.0202 4.9132 0 2.0223-.7482 3.7312-2.2447 5.1268-1.4964 1.3957-3.2473 2.0935-5.2525 2.0935-2.5739 0-4.7886-1.0681-6.6442-3.2043-1.8856-2.1077-2.8283-4.9986-2.8283-8.6729 0-3.247.7332-6.2946 2.1998-9.1428 1.4665-2.81979 3.4717-5.24079 6.0157-7.26304 2.514-1.99377 5.5967-3.232759 9.248-3.71696zm-22.4916 0v5.46862c-2.1848.56965-3.8608 1.36716-5.028 2.39253-1.1673 1.02536-2.0951 2.32135-2.78343 3.88785-.68837 1.595-1.03255 3.5318-1.03255 5.8104 2.84328 0 4.95328.769 6.32998 2.3071 1.3468 1.538 2.0202 3.1758 2.0202 4.9132 0 2.0223-.7482 3.7312-2.2447 5.1268-1.4964 1.3957-3.2323 2.0935-5.20761 2.0935-2.63375 0-4.87841-1.0681-6.73401-3.2043-1.885521-2.1077-2.82828381-4.9986-2.82828381-8.6729 0-3.247.74822481-6.2946 2.24467381-9.1428 1.46651-2.81979 3.47175-5.24079 6.01571-7.26304 2.51402-1.99377 5.59672-3.232759 9.24802-3.71696z' fill='%2300B884'/%3E%3C/svg%3E%0A")
}

@media (max-width:600px) {
    .cu-author-quote .cu-author-quote__quote {
        -webkit-margin-start: 0;
        margin-inline-start: 0;
        -webkit-margin-end: 0;
        margin-inline-end: 0
    }
}

@media (max-width:600px) {
    .cu-author-quote__author-group {
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center
    }

    .cu-author-quote__author-name {
        display: inline-block;
        -webkit-margin-before: 12px;
        margin-block-start: 12px
    }

    .cu-author-quote__author-position {
        display: block;
        -webkit-margin-after: 22px;
        margin-block-end: 22px
    }
}